.movie-selecter {
  display: block;

  padding-bottom: 40px;
  margin: auto;
  margin-top: 50px;
  text-size-adjust: 100%;
  width: 1200px;
  -webkit-font-smoothing: subpixel-antialiased;

  &-movie-list-container {
    box-shadow: rgb(237, 237, 237) 0px 0px 100px 80px inset;
    margin: auto;
    box-sizing: border-box;
    display: block;
    height: 250px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    text-size-adjust: 100%;
    width: 1200px;
    -webkit-font-smoothing: subpixel-antialiased;

    &-movie-list {
      display: table;
      font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
      height: 234.961px;
      left: 0px;
      position: relative;
      text-size-adjust: 100%;
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: left;
      transition-timing-function: ease;
      white-space: nowrap;
      width: 3909.1px;
      -webkit-font-smoothing: subpixel-antialiased;
    }
  }

  &-session-list-container {
    &-sessionList {
      margin-top: 10px;

      &-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        
        &-leftLine {
          margin-right: 20px;
        }

        &-rightLine {
          margin-left: 20px;
        }
      }

      &-body {
        margin-top: 5px;

        
      }
    }
  }
}
