.theater-info-header {
  &-banner {
    width: 100%;
    min-width: 1200px;
    text-size-adjust: 100%;
    background: #e9e9e9 no-repeat 50%;
    display: flex;
    justify-content: center;

    &-box {
      display: flex;
      justify-content: center;
      margin: 30px 0;
      width: 1200px;
      gap: 30px;

      &-left {
        text-size-adjust: 100%;

        &-avatar {
          background-attachment: scroll;
          background-clip: border-box;
          background-color: rgba(0, 0, 0, 0);
          background-origin: padding-box;
          background-position-x: 50%;
          background-position-y: 100%;
          background-size: 300px 50px;
          display: block;

          height: 250px;
          margin-bottom: 0px;
          margin-left: 80px;
          margin-right: 10px;
          margin-top: 0px;
          padding-bottom: 40px;
          position: relative;
          text-size-adjust: 100%;
          width: 200px;

          &-img {
            width: 200px;
            height: 250px;
            object-fit: cover;
          }
        }
      }

      &-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-brief-container {
          color: rgb(143, 143, 143);
          text-align: start;
          display: block;
          text-size-adjust: 100%;
          -webkit-font-smoothing: subpixel-antialiased;

          &-name {
            color: rgb(41, 41, 41);
            display: block;

            font-size: 26px;
            font-weight: bold;
            height: 35px;
            margin-block-end: 9px;
            margin-block-start: 0px;
            margin-bottom: 9px;
            margin-inline-end: 0px;
            margin-inline-start: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 10px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            text-size-adjust: 100%;
            white-space: nowrap;
            -webkit-font-smoothing: subpixel-antialiased;
          }

          &-address {
            color: rgb(143, 143, 143);
            display: block;

            font-size: 15px;
            height: 19px;
            margin-bottom: 10px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            text-size-adjust: 100%;
            white-space: nowrap;
            -webkit-font-smoothing: subpixel-antialiased;
          }

          &-telephone {
            color: rgb(143, 143, 143);
            display: block;

            font-size: 15px;
            height: 19px;
            margin-bottom: 20px;
            text-size-adjust: 100%;
            -webkit-font-smoothing: subpixel-antialiased;
          }

          &-group {
            &-title::after {
              border-top: 1px dashed rgba(41, 41, 41, 0.7);
              display: block;
              content: "";
              position: relative;
              top: -10px;
            }

            &-img {
              margin-top: 10px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
