.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.user-avatar .user-avatar-a{
  width: 80px;
}

.user-avatar .user-avatar-a .anticon-down{
  padding-left: 10px;
}
.user-avatar-modal-box{
  margin: 20px 0;
}
.user-avatar-modal-box .user-avatar-modal-box-logo{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto
}
.info{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.user-avatar-dropdown-item span{
  padding-right: 10px;
  color: rgb(250, 84, 28);
}
.login{
  margin: 0 20px;
}
.login-form{
}
.login-form-forgot{
  float: right;
}
.login-form-button{
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 16px;
}