.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.user-avatar .user-avatar-a{
  width: 80px;
}

.user-avatar .user-avatar-a .anticon-down{
  padding-left: 10px;
}

.info{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.user-avatar-dropdown-item span{
  padding-right: 10px;
  color: rgb(250, 84, 28);
}