.after-pay-detail{
  width: 50%;
  border-radius: 20px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 15px 0px;
  &-movieTicket {
    text-align: center;
    margin: 10px 0px;
    color: #B3AAAA;
  }
  &-divider {
    margin: 0px 70px;
    color: #333333;
  }
  &-movieInfo{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    border-radius: 10px;
    &-image {
      cursor: pointer;
    }
    &-describe {
      margin: 20px 0px;
      &-content {
        margin: 15px 0;
        display: block;
        font-size: 16px;
      }
    }
  }
  &-qrcode {
    display: inline-block;
    margin: 30px 250px;
    vertical-align: center;
  }
  &-orderTime {
    margin-left: 25px;
  }
}