.index-header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.index-header .logo {
  width: 84px;
  height: 40px;
}

.index-header .avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}